@media screen and (max-width: 800px) {
    .scroll-button {
      display: none;
    }
    nav ul {
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-color: #323232;
    }
    nav li {
      display: flex;
      justify-content: center;
    }
  }